.container {
	background-color: #fff;
	padding: 2vh 2vw;
	width: 100%;
	border-radius: 20px;
	font-size: 14px;
	margin-bottom: 20px;
	color: #6e7383;
}

h3 {
	font-weight: 500;
	color: #000;
}

hr {
	border: none;
	height: 1px;
	/* Set the hr color */
	color: #dedede; /* old IE */
	background-color: #dedede; /* Modern Browsers */
}
