.container {
	background-color: #fff;
	display: flex;
	padding: 2.5vh 0vw;
	justify-content: space-between;
	width: 100%;
	-webkit-box-shadow: 0px 10px 38px 4px rgba(0, 0, 0, 0.48);
	box-shadow: 0px 10px 38px 4px rgba(0, 0, 0, 0.48);
	position: absolute;
	top: 0;
}
.textElement {
	padding-left: 10px;
	padding-right: 15px;
	font-weight: 600;
}
