.sideBar {
	margin: 0px;
	padding: 0%;
	background-color: #0a1f44;
	height: 100vh;
	justify-content: center;
}

li {
	list-style-type: none;
	padding-right: 5vw;
}

.text {
	color: aliceblue;
	padding-left: 1vw;
	font-size: 12px;
}

.logoContainer {
	margin: 15px;
	display: flex;

	margin-bottom: 50px;
	background-color: #fff;
	align-content: center;
	justify-content: center;
	padding: 8px 5px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(120, 120, 120, 0.6);
	box-shadow: 0px 0px 27px 9px rgba(120, 120, 120, 0.6);
}
